<a href="https://colab.research.google.com/github/ParkJeongUng/Ung.github.io/blob/master/_notebooks/%ED%95%98%EB%8A%98%EC%BD%94%EB%81%BC%EB%A6%AC_Pandas_Master.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 하늘코끼리 - Pandas Master

# Object creation

In [ ]:
import numpy as np
import pandas as pd

## Series
1. Creating a Series by passing a list of values, letting pandas create a default integer index
>  * Series 를 변수들의 리스트로 생성한다, 정수로된 기본 인덱스 값이 디폴트로 들어간다

In [ ]:
# Series 를 변수들의 리스트로 생성한다, 정수로된 기본 인덱스 값이 디폴트로 들어간다

s = pd.Series([1, 3, 5, np.nan, 6, 8]) # np.nan 으로 결측치 생성
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

## DataFrame - Numpy array
2. Creating a DataFrame by passing a Numpy array, with a datetime index and labeled columns
> * DataFrame 을 넘파이 Array로 생성한다, 일짜로 인덱스를 넣고 각 열에 이름 레이블링을 한다

In [ ]:
# DataFrame 을 넘파이 Array로 생성한다, 일짜로 인덱스를 넣고 각 열에 이름 레이블링을 한다
dates = pd.date_range("20130101", periods = 8) # date_range 로 일짜를 생성 periods 로 기간 설정
print(dates)

df = pd.DataFrame(np.random.randn(8, 4), index = dates, columns = list("ABCD"))
print(df)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08'],
              dtype='datetime64[ns]', freq='D')
                   A         B         C         D
2013-01-01 -2.353140 -2.039484 -2.224930 -0.752031
2013-01-02 -1.073798  0.853140 -1.391773 -0.599870
2013-01-03  0.067025 -0.521760  0.379020 -1.538868
2013-01-04 -0.118970 -0.072235  0.781759 -0.007271
2013-01-05 -0.288008 -0.067996 -0.461851 -0.007335
2013-01-06 -0.615441  0.315262 -0.829765  1.400728
2013-01-07  0.024214  1.216935 -0.998964 -0.968876
2013-01-08 -0.223849  0.921339 -0.098162  0.568661

# DataFrame - dictionary
3. Creating a DataFrame by passing a dictionary of objects that can be converted into a series - like structure
> * DataFrame 을 dictionary 로 생성한다. dictionary 는 시리즈와 같은 구조를 가진다

In [ ]:
df2 = pd.DataFrame(
    {
      "A" : 1.0,
     "B" : pd.Timestamp("20130102"), # 2013 - 01 - 02
     "C" : pd.Series(1, index = list(range(4)), dtype = "float32"),
     "D" : np.array([3] * 4, dtype = "int32"),
     "E" : pd.Categorical(['test', 'train', 'test', 'train']), # dtype = category
     "F" : "foo",
    }
)
print(df2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
# 각 컬럼은 다른 데이터타입을 가진다
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

# Viewing data

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
date = pd.date_range("20220316", periods = 6)
data = pd.DataFrame(np.random.randn(6, 4), index = date, columns = list("ABCD"))
print(data)

                   A         B         C         D
2022-03-16  1.387396 -1.697005 -1.907996 -1.009149
2022-03-17 -0.216641 -0.125481  2.069624 -0.399556
2022-03-18 -1.939337 -1.525537  1.229730 -1.461869
2022-03-19 -0.221716 -0.923037  1.576739  0.974145
2022-03-20  0.223678  0.558811  0.785153  1.048430
2022-03-21 -0.493495  1.988507 -1.237471 -0.295344

## head() // tail()
1. head()
>  * How to view the top rows of the frame
   * 가장 앞에있는 행 출력

2. tail()
>  * How to view the bottom rows of the frame
   * 가장 밑에있는 행 출력

In [ ]:
# 가장 앞에있는 행 출력
print(data.head())
print("============================================")
print(data.head(3)) # 행의 개수를 지정
print("============================================")

# 가장 밑에있는 행 출력
print(data.tail())
print("============================================")
print(data.tail(3))

                   A         B         C         D
2022-03-16  1.387396 -1.697005 -1.907996 -1.009149
2022-03-17 -0.216641 -0.125481  2.069624 -0.399556
2022-03-18 -1.939337 -1.525537  1.229730 -1.461869
2022-03-19 -0.221716 -0.923037  1.576739  0.974145
2022-03-20  0.223678  0.558811  0.785153  1.048430
============================================
                   A         B         C         D
2022-03-16  1.387396 -1.697005 -1.907996 -1.009149
2022-03-17 -0.216641 -0.125481  2.069624 -0.399556
2022-03-18 -1.939337 -1.525537  1.229730 -1.461869
============================================
                   A         B         C         D
2022-03-17 -0.216641 -0.125481  2.069624 -0.399556
2022-03-18 -1.939337 -1.525537  1.229730 -1.461869
2022-03-19 -0.221716 -0.923037  1.576739  0.974145
2022-03-20  0.223678  0.558811  0.785153  1.048430
2022-03-21 -0.493495  1.988507 -1.237471 -0.295344
============================================
                   A         B         C         D
2022-03-19 -0.221716 -0.923037  1.576739  0.974145
2022-03-20  0.223678  0.558811  0.785153  1.048430
2022-03-21 -0.493495  1.988507 -1.237471 -0.295344

## index // columns
1. index
> * Display the index
  * 모든 인덱스를 출력

2. columns
> * Display the columns
  * 모든 컬럼을 출력

In [ ]:
# 모든 인덱스를 출력
data.index

DatetimeIndex(['2022-03-16', '2022-03-17', '2022-03-18', '2022-03-19',
               '2022-03-20', '2022-03-21'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# 모든 컬럼을 출력
data.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

## to.numpy()
> * DataFrame.to_numpy() does not include the index or column labels in the output
> * 데이터프레임을 넘파이로 변환하면 인덱스와 컬럼명이 출력결과에 포함되지 않는다

### DataFrame of all floating-point values
1. Numpy arrays have one dtype for the entire array
> * 넘파이 배열은 하나의 데이터타입만을 가진다
2. DataFarme of all floating-point values, DataFrame.to_numpy() is fast and doesn't require copying data
> * 실수로 된 값만 가지고 있는 데이터프레임은 속도가 빠르고 데이터를 복사할 필요가 없다

In [ ]:
# 실수로 된 값만 가진 데이터프레임 생성
date = pd.date_range("20220316", periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index = date, columns = list("ABCD"))
df

                   A         B         C         D
2022-03-16 -1.432940  0.398898 -1.913145  1.176134
2022-03-17 -0.670557 -2.131197 -0.124070  0.301938
2022-03-18  0.075608  0.444038 -2.685033 -1.242655
2022-03-19  0.015063  0.356286  0.470742 -0.448339
2022-03-20 -0.820664 -0.852599 -2.194349  0.398708
2022-03-21  1.721380  2.077812 -0.950608 -0.930718

In [ ]:
# 실수로만 된 데이터 타입을 넘파이 배열로 변환
df.to_numpy()

# 계산속도가 빨라진다

array([[-1.43294029,  0.3988978 , -1.91314476,  1.17613379],
       [-0.67055744, -2.13119686, -0.12407046,  0.30193754],
       [ 0.07560766,  0.44403832, -2.68503285, -1.24265544],
       [ 0.01506284,  0.35628595,  0.47074215, -0.44833933],
       [-0.82066436, -0.85259947, -2.19434866,  0.39870847],
       [ 1.72138031,  2.07781166, -0.95060842, -0.93071828]])

### DataFrame with multiple dtypes
3. Pandas DataFrames have one dtype per column
> * 판다스 데이터프레임은 각 열마다 각각의 데이터타입을 가진다
4. DataFrame with multiple dtypes, DataFrame.to_numpy() is realatively expensive
> * 여러개의 데이터타입을 가진 데이터프레임을 넘파이 배열로 전환하면 상대적으로 비용이 많이든다

In [ ]:
# 여러가지 데이터타입을 가진 데이터프레임 생성
df2 = pd.DataFrame(
    {
      "A" : 1.0,
     "B" : pd.Timestamp("20130102"), # 2013 - 01 - 02
     "C" : pd.Series(1, index = list(range(4)), dtype = "float32"),
     "D" : np.array([3] * 4, dtype = "int32"),
     "E" : pd.Categorical(['test', 'train', 'test', 'train']), # dtype = category
     "F" : "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
# 여러가지 데이터타입을 가진 데이터프레임을 넘파이 배열로 전환
df2.to_numpy()

# 상대적으로 비용이 많이 든다

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

## describe()
> 1. shows a quick statistic summary of your data
> * 기술통계량을 보여준다

In [ ]:
date = pd.date_range("20220316", periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index = date, columns = list("ABCD"))
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.482520  0.147880  0.252794 -0.287169
std    1.138419  0.760922  1.204060  0.999030
min   -0.711652 -0.887342 -1.932532 -2.178000
25%   -0.169939 -0.391533  0.049979 -0.318937
50%    0.001508  0.289001  0.574541  0.022284
75%    1.410964  0.607244  0.750848  0.081444
max    1.950059  1.101674  1.615469  0.741933

## T
> 1. Transposing your data
> * 행과 열의 위치를 바꿔준다

In [ ]:
date = pd.date_range("20220316", periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index = date, columns = list("ABCD"))
df

                   A         B         C         D
2022-03-16 -0.101549  0.443497 -1.721339 -2.309150
2022-03-17 -0.183310  0.229298  0.919158  0.274853
2022-03-18 -0.198247 -1.805586  0.336133 -0.843639
2022-03-19 -0.583241 -2.053768  1.119126  0.015989
2022-03-20 -0.687401 -0.173736  0.749335 -1.833492
2022-03-21  0.319462  0.064602 -1.216903 -0.604855

In [ ]:
df.T

   2022-03-16  2022-03-17  2022-03-18  2022-03-19  2022-03-20  2022-03-21
A   -0.101549   -0.183310   -0.198247   -0.583241   -0.687401    0.319462
B    0.443497    0.229298   -1.805586   -2.053768   -0.173736    0.064602
C   -1.721339    0.919158    0.336133    1.119126    0.749335   -1.216903
D   -2.309150    0.274853   -0.843639    0.015989   -1.833492   -0.604855

## Sorting
* 데이터 정렬

### sort_index()
> 1. Sorting by an axis
> * 축을 기준으로 정렬한다

In [ ]:
date = pd.date_range("20220316", periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index = date, columns = list("2143"))
print(df)

                   2         1         4         3
2022-03-16  1.273508 -0.221702  0.048192 -0.338185
2022-03-17  0.889562  0.691625 -0.986336 -0.590182
2022-03-18  0.323091  0.012097 -0.816734 -0.491124
2022-03-19 -0.736021  0.711735 -1.188399  2.279130
2022-03-20 -1.579504 -0.434708 -0.223042  0.948387
2022-03-21  0.443991 -0.346676  0.534585  0.002269

In [ ]:
# axis = 0 // 행을 기준으로 정렬
# ascending = False // 내림차순 정렬
print(df.sort_index(axis = 0, ascending = False))
print("=========================================")


# axis = 1 // 열을 기준으로 정렬
print(df.sort_index(axis = 1, ascending = True))

                   2         1         4         3
2022-03-21 -0.150155  1.942053  2.525599 -0.766238
2022-03-20 -0.488143 -1.849294  0.062230  0.619468
2022-03-19 -1.097454  0.923956 -1.663568 -1.325204
2022-03-18 -2.265382 -0.966956  0.163207 -0.242535
2022-03-17  0.231865  0.570359  0.807578 -1.804005
2022-03-16 -1.765378  1.023030 -0.679927 -0.181302
==================================
                   1         2         3         4
2022-03-16  1.023030 -1.765378 -0.181302 -0.679927
2022-03-17  0.570359  0.231865 -1.804005  0.807578
2022-03-18 -0.966956 -2.265382 -0.242535  0.163207
2022-03-19  0.923956 -1.097454 -1.325204 -1.663568
2022-03-20 -1.849294 -0.488143  0.619468  0.062230
2022-03-21  1.942053 -0.150155 -0.766238  2.525599

### sort_values()
> 1. Sorting by values
> * 변수를 기준으로 정렬한다

In [ ]:
date = pd.date_range("20220316", periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index = date, columns = list("2143"))
print(df)

                   2         1         4         3
2022-03-16  0.157233 -1.560682 -2.024392 -0.171238
2022-03-17 -0.580895  1.053952  0.024781 -0.823299
2022-03-18 -1.539418  2.013102 -1.158369  1.302211
2022-03-19  0.199640  1.036865 -0.595927 -1.320113
2022-03-20  0.388695 -0.315452 -0.344361 -2.697749
2022-03-21  1.257881  0.048520 -1.582087 -0.256044

In [ ]:
# 2번 열의 변수를 내림차순으로 정렬한다
# 2번 열의 변수들만 정렬이 되는 것이 아니라 정렬된 행 전체가 정렬된다
df.sort_values(by = "2", ascending = False)

                   2         1         4         3
2022-03-21  1.257881  0.048520 -1.582087 -0.256044
2022-03-20  0.388695 -0.315452 -0.344361 -2.697749
2022-03-19  0.199640  1.036865 -0.595927 -1.320113
2022-03-16  0.157233 -1.560682 -2.024392 -0.171238
2022-03-17 -0.580895  1.053952  0.024781 -0.823299
2022-03-18 -1.539418  2.013102 -1.158369  1.302211

# Selection
* 넘파이나 파이썬은 대화형식의 코딩을 할때 편하고 직관적이지만 판다스는 대량의 코딩을 할때 최적화 되어있다

In [1]:
import numpy as np
import pandas as pd

## Getting

### df["A"] // df.A
> 1. Selecting a single column, which yields a Series, equivalent to df.A
  * 하나의 컬럼을 선택해서 시리즈로 넘겨준다, df["A"] 와 df.A 는 같다

In [9]:
date = pd.date_range("20220317", periods = 6)
df = pd.DataFrame(np.random.randn(6, 4), index = date, columns = list("ABCD"))
df

                   A         B         C         D
2022-03-17  0.695848 -1.472368  1.280008  0.085338
2022-03-18  0.196000  0.326038  1.026610  0.641336
2022-03-19 -0.706530 -1.072691 -0.134640  1.160450
2022-03-20  1.618679  0.284562  1.216802  1.824457
2022-03-21  0.854345  0.452299  1.179281  0.419414
2022-03-22 -2.012897 -0.117187 -1.892429  0.378727

In [10]:
print('df["A"] 출력')
print(df["A"])
print("=====================================")
print("df.A 출력")
print(df.A)

df["A"] 출력
2022-03-17    0.695848
2022-03-18    0.196000
2022-03-19   -0.706530
2022-03-20    1.618679
2022-03-21    0.854345
2022-03-22   -2.012897
Freq: D, Name: A, dtype: float64
=====================================
df.A 출력
2022-03-17    0.695848
2022-03-18    0.196000
2022-03-19   -0.706530
2022-03-20    1.618679
2022-03-21    0.854345
2022-03-22   -2.012897
Freq: D, Name: A, dtype: float64

### df[0 : 3] // Slicing
> 1. Selecting via [], which slices the rows
  * 행을 슬라이싱 해서 선택한다

In [13]:
print(df)
print("=====================================")

print(df[0: 3]) # 인덱스 값으로 지정해서 슬라이싱
print("=====================================")

print(df["20220319" : "20220321"]) # 행 값을 그대로 입력해서 슬라이싱

                   A         B         C         D
2022-03-17  0.695848 -1.472368  1.280008  0.085338
2022-03-18  0.196000  0.326038  1.026610  0.641336
2022-03-19 -0.706530 -1.072691 -0.134640  1.160450
2022-03-20  1.618679  0.284562  1.216802  1.824457
2022-03-21  0.854345  0.452299  1.179281  0.419414
2022-03-22 -2.012897 -0.117187 -1.892429  0.378727
=====================================
                   A         B         C         D
2022-03-17  0.695848 -1.472368  1.280008  0.085338
2022-03-18  0.196000  0.326038  1.026610  0.641336
2022-03-19 -0.706530 -1.072691 -0.134640  1.160450
=====================================
                   A         B         C         D
2022-03-19 -0.706530 -1.072691 -0.134640  1.160450
2022-03-20  1.618679  0.284562  1.216802  1.824457
2022-03-21  0.854345  0.452299  1.179281  0.419414

## Selection by label // loc

### 1. For getting ac ross section using a label
  * 레이블을 사용해서 가져오기

In [14]:
date = pd.date_range("20220317", periods = 6)
df = pd.DataFrame(np.random.randn(6, 4), index = date, columns = list("ABCD"))
df

                   A         B         C         D
2022-03-17  1.666897  0.408760 -0.033376 -0.127989
2022-03-18 -0.422313  0.796548  0.130826  0.611366
2022-03-19 -2.454942  0.439273 -0.985696  1.043461
2022-03-20 -1.099177 -0.051601 -0.630181  1.541351
2022-03-21  0.166216 -0.746209  0.309246 -3.304132
2022-03-22  1.190350 -0.162746  0.767005  0.121045

In [19]:
df.loc[df.index[0]] # 인덱스 0번인 행 출력

A    1.666897
B    0.408760
C   -0.033376
D   -0.127989
Name: 2022-03-17 00:00:00, dtype: float64

### Selecting on a multi-axis by label
  * 레이블을 이용해서 여러개의 축을 선택

In [20]:
# 앞쪽 슬라이싱은 행을지정
# 뒤쪽 슬라이싱은 열을지정
df.loc[:, ["A", "B"]]

                   A         B
2022-03-17  1.666897  0.408760
2022-03-18 -0.422313  0.796548
2022-03-19 -2.454942  0.439273
2022-03-20 -1.099177 -0.051601
2022-03-21  0.166216 -0.746209
2022-03-22  1.190350 -0.162746

In [27]:
df.loc[df.index[0 : 3], ["A", "D"]]

                   A         D
2022-03-17  1.666897 -0.127989
2022-03-18 -0.422313  0.611366
2022-03-19 -2.454942  1.043461

### Reduction in the dimensions of the returned object
  * 차원이 축소된 오브젝트를 반환한다
  * 하나의 행만 지정했을 경우 차원이 축소된다 하나의 열만 지정했을 경우에는 차원이 축소되지 않는다

In [29]:
# 하나의 행만 지정하면 차원이 축소된 오브젝트를 반환
df.loc["20220318", ["A", "B"]]

A   -0.422313
B    0.796548
Name: 2022-03-18 00:00:00, dtype: float64

In [33]:
# 하나의 열만 지정하면 차원이 축소되진 않는다
df.loc[df.index[3: 5], ["A"]]

                   A
2022-03-20 -1.099177
2022-03-21  0.166216

### For getting a scalar value
* 하나의 스칼라 값만 출력

In [45]:
# 열 지정해줄때 괄호를 안넣으면 인덱스를 제외한 값만 출력한다
print(df.loc[df.index[0], 'A'])
print("=====================================")

print(df.loc[df.index[0], ["A"]])

1.6668968991915483
=====================================
A    1.666897
Name: 2022-03-17 00:00:00, dtype: float64

In [47]:
# loc 가 아닌 at 을 사용해도 출력할 수 있다
print(df.at[df.index[0], 'A'])

1.6668968991915483

In [49]:
# iat 을 사용해 인덱스만 지정해서 값을 출력할 수 있다
print(df.iat[0, 0])

1.6668968991915483