<a href="https://colab.research.google.com/github/ParkJeongUng/Ung.github.io/blob/master/_notebooks/%ED%95%98%EB%8A%98%EC%BD%94%EB%81%BC%EB%A6%AC_Pandas_Master.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 하늘코끼리 - Pandas Master

# Object creation

In [ ]:
import numpy as np
import pandas as pd

## Series
1. Creating a Series by passing a list of values, letting pandas create a default integer index
>  * Series 를 변수들의 리스트로 생성한다, 정수로된 기본 인덱스 값이 디폴트로 들어간다

In [ ]:
# Series 를 변수들의 리스트로 생성한다, 정수로된 기본 인덱스 값이 디폴트로 들어간다

s = pd.Series([1, 3, 5, np.nan, 6, 8]) # np.nan 으로 결측치 생성
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

## DataFrame - Numpy array
2. Creating a DataFrame by passing a Numpy array, with a datetime index and labeled columns
> * DataFrame 을 넘파이 Array로 생성한다, 일짜로 인덱스를 넣고 각 열에 이름 레이블링을 한다

In [ ]:
# DataFrame 을 넘파이 Array로 생성한다, 일짜로 인덱스를 넣고 각 열에 이름 레이블링을 한다
dates = pd.date_range("20130101", periods = 8) # date_range 로 일짜를 생성 periods 로 기간 설정
print(dates)

df = pd.DataFrame(np.random.randn(8, 4), index = dates, columns = list("ABCD"))
print(df)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08'],
              dtype='datetime64[ns]', freq='D')
                   A         B         C         D
2013-01-01 -2.353140 -2.039484 -2.224930 -0.752031
2013-01-02 -1.073798  0.853140 -1.391773 -0.599870
2013-01-03  0.067025 -0.521760  0.379020 -1.538868
2013-01-04 -0.118970 -0.072235  0.781759 -0.007271
2013-01-05 -0.288008 -0.067996 -0.461851 -0.007335
2013-01-06 -0.615441  0.315262 -0.829765  1.400728
2013-01-07  0.024214  1.216935 -0.998964 -0.968876
2013-01-08 -0.223849  0.921339 -0.098162  0.568661

# DataFrame - dictionary
3. Creating a DataFrame by passing a dictionary of objects that can be converted into a series - like structure
> * DataFrame 을 dictionary 로 생성한다. dictionary 는 시리즈와 같은 구조를 가진다

In [ ]:
df2 = pd.DataFrame(
    {
      "A" : 1.0,
     "B" : pd.Timestamp("20130102"), # 2013 - 01 - 02
     "C" : pd.Series(1, index = list(range(4)), dtype = "float32"),
     "D" : np.array([3] * 4, dtype = "int32"),
     "E" : pd.Categorical(['test', 'train', 'test', 'train']), # dtype = category
     "F" : "foo",
    }
)
print(df2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
# 각 컬럼은 다른 데이터타입을 가진다
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object